In [1]:
# Creating a list

student_marks = ([5,4,7,8,9,10,12,45])
student_marks
#or we can also define it as
student_marks = [5,4,7,8,9,10,12,45] #both are same.
student_marks

# Creating a list by taking input from user
list = []   #creating a empty list
try:
    n = int(input("Enter the Size of list : "))
except:
    print("Please enter the Integer value")
    
# Now we will use loop to take the inputs
for i in range(n):
    x = input("Enter the Values : ")
    list.append(x)
    
list

# As we see one list can contain different types of data types

Enter the Size of list : 5
Enter the Values : 1
Enter the Values : aman
Enter the Values : 78
Enter the Values : +
Enter the Values : /

['1', 'aman', '78', '+', '/']

In [11]:
# Creating a nested list
# Nested List refers to list inside a list it is represented by [[]]

nested_list = ([[1,2,3,4,5,7],[8,9,5,4,10]])  #Here we can see that there are two sublists inside a list
# or we can write it as
nested_list = [[1,2,3,4,5,7],[8,9,5,4,10]]  #Both are same
nested_list , type(nested_list)

([[1, 2, 3, 4, 5, 7], [8, 9, 5, 4, 10]], list)

In [12]:
# Now lets take another example
nested_list = ([1,2,3,4,5,7],[8,9,5,4,10])  # This is not a nested list this a tuple which contains Two lists.
nested_list , type(nested_list)  # You can use type() function to know the type of the variable or object.

(([1, 2, 3, 4, 5, 7], [8, 9, 5, 4, 10]), tuple)

In [18]:
# AS a begineer you can make nested list like this :
list1 = []
list2 = []
n1 = int(input("Enter the Size of list1 : "))
n2 = int(input("Enter the size of list2 : "))

for i in range(n1):
    x = input("Enter the List element : ")
    list1.append(x)
    
for i in range(n2):
    x = input("Enter the List element : ")
    list2.append(x)
    
    
list = [list1 , list2]
list
    

# But this is not the efficient way of doing it because it not possible to define sub lists manually 
#if the number of sub lists is large say 100

Enter the Size of list1 : 5
Enter the size of list2 : 3
Enter the List element : 1
Enter the List element : 2
Enter the List element : 3
Enter the List element : 4
Enter the List element : 5
Enter the List element : 6
Enter the List element : 7
Enter the List element : 8

[['1', '2', '3', '4', '5'], ['6', '7', '8']]

In [19]:
# More efficient way of making a nested list

no_of_sublists = int(input("Enter the number of Sublists you want : "))
elements_in_each_list = int(input("Enter the number of element in each list : "))
list = []
for i in range(no_of_sublists):
    sublist = []
    
    for j in range(elements_in_each_list):
         x = input(f"Enter the {i} sublist {j} value : ")
         sublist.append(x)
        
    list.append(sublist)
    
    
list
         
     
# How this code function :- Firstly it is taking input of from user regarding,
# how much sublist they want and in each sublist how much element should be there.
#then it is running a for loop in the range no_of_sublists and 
#inside it there is another for loop in the range elements_in_each_list

# Now first for loop will create a 1 sublist after that the second for loop will add the elements in that sublist.
# Once 1st sublist get filled first for loop will again create 2nd sublist and the same process will continue.

Enter the number of Sublists you want : 3
Enter the number of element in each list : 4
Enter the 0 sublist 0 value : 1
Enter the 0 sublist 1 value : 2
Enter the 0 sublist 2 value : 3
Enter the 0 sublist 3 value : 4
Enter the 1 sublist 0 value : 4
Enter the 1 sublist 1 value : 5
Enter the 1 sublist 2 value : 6
Enter the 1 sublist 3 value : 7
Enter the 2 sublist 0 value : 8
Enter the 2 sublist 1 value : 9
Enter the 2 sublist 2 value : 10
Enter the 2 sublist 3 value : 11

[['1', '2', '3', '4'], ['4', '5', '6', '7'], ['8', '9', '10', '11']]

In [21]:
# Now there is a small problem in the above code. 
#The Problem is like this Suppose we want each sublist should contain different number of element.
# E.g :- list = [[1,2] , [1,2,3,4] , [1] , [78, 'aman']]. How to create such type of nested list ?

no_of_sublist = int(input("Enter the number of sublist you want : "))
list = []

for i in range(no_of_sublist):
    x = input(f"Enter the space-separated values for row {i + 1} : ")
    sublist_values = x.split()
    
    list.append(sublist_values)
    
list
# hence we solved the problem :)

Enter the number of sublist you want : 4
Enter the space-separated values for row 1 : 1 2
Enter the space-separated values for row 2 : 1 2 3 4
Enter the space-separated values for row 3 : 1
Enter the space-separated values for row 4 : 78 aman

[['1', '2'], ['1', '2', '3', '4'], ['1'], ['78', 'aman']]

In [31]:
# How to extract elements from List
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 222 , 111 ,0 ,7] 
student_marks[0] # for extracting single element

student_marks[0:2] # for extracting multiple elemnts. Note:- when we are writting [0:2] , in this index 2 is excluded.

[100, 99]

In [32]:
student_marks[-1] # This will return the last element

7

In [33]:
student_marks[-2:] # This will return the element from second last till end

[0, 7]

In [38]:
# How to extract elements from nested list
nested_list = [[1,2,3,4,5,7],[8,9,5,4,10]]
nested_list[0]  # This will return the 1st sublist
nested_list[0][2] # This will return the 1st sublist 3rd element
nested_list[1][2:] # This will return the 1st sublist 3rd to all elements

[5, 4, 10]

In [39]:
# Loop method for extracting elements 
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 222 , 111 ,0 ,7]
for i in student_marks :
    print(i)

100
99
95
75
45
15
222
111
0
7

In [40]:
# Method 2 of doing the same
for i in range(len(student_marks)):
    print(student_marks[i])

100
99
95
75
45
15
222
111
0
7

In [43]:
# Loop method for extracting the elements of nested list
nested_list = [[1,2,3,4,5,7],[8,9,5,4,10]]
for i in nested_list:
    for j in i:
        print(j)

1
2
3
4
5
7
8
9
5
4
10

In [44]:
# Method 2 of doing the same : 
nested_list = [[1,2,3,4,5,7],[8,9,5,4,10]]
for i in range(len(nested_list)):
    for j in range(len(nested_list[i])):
        print(nested_list[i][j])

1
2
3
4
5
7
8
9
5
4
10

In [45]:
# Adding Elements in list
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 222 , 111 ,0 ,7]
nested_list = [[1,2,3,4,5,7],[8,9,5,4,10]]

student_marks.append(111) # .append() will add element at the last
student_marks

[100, 99, 95, 75, 45, 15, 222, 111, 0, 7, 111]

In [47]:
nested_list.append([45 , 21])
nested_list

[[1, 2, 3, 4, 5, 7], [8, 9, 5, 4, 10], [45, 21], [45, 21]]

In [49]:
nested_list.append(14)
nested_list

[[1, 2, 3, 4, 5, 7], [8, 9, 5, 4, 10], [45, 21], [45, 21], 14, 14]

In [50]:
student_marks.append([21,45])
student_marks

[100, 99, 95, 75, 45, 15, 222, 111, 0, 7, 111, [21, 45]]

In [51]:
# If we want to insert an element at a specific posistion then .insert(position , value) is used
student_marks.insert(2,4589) # this will insert element at 3rd position
student_marks

[100, 99, 4589, 95, 75, 45, 15, 222, 111, 0, 7, 111, [21, 45]]

In [52]:
nested_list[0].insert(1 , 44444)
nested_list

[[1, 44444, 2, 3, 4, 5, 7], [8, 9, 5, 4, 10], [45, 21], [45, 21], 14, 14]

In [53]:
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 222 , 111 ,0 ,7]
student_marks.append([4,11]) # This will create a sublist at end 
student_marks

[100, 99, 95, 75, 45, 15, 222, 111, 0, 7, [4, 11]]

In [54]:
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 222 , 111 ,0 ,7]
student_marks.insert(1,[100,456]) # This will also do the same but at a specific position
student_marks

[100, [100, 456], 99, 95, 75, 45, 15, 222, 111, 0, 7]

In [55]:
# How to add multiple elements

student_marks.extend([111,112,113.456]) # This will add these elements at the end of the list
student_marks

[100, [100, 456], 99, 95, 75, 45, 15, 222, 111, 0, 7, 111, 112, 113.456]

In [56]:
# How to add multiple elements at a specific position 
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 222 , 111 ,0 ,7]
student_marks[2:2] = [88,45,21] # This will start adding elements from 3rd position.
student_marks

[100, 99, 88, 45, 21, 95, 75, 45, 15, 222, 111, 0, 7]

In [58]:
# Removing elemets from list
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]
# using .remove() function
student_marks.remove(99) # This will remove the first specified element. That's why we saw in this case 99 at index 1 is removed
                         # but 99 at index 6 remains same.
student_marks

[100, 95, 75, 45, 15, 99, 222, 111, 0, 7]

In [59]:
# Now Let's suppose we want to remove all the 99 from the list

student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]
element = 99
while element in student_marks :
    student_marks.remove(99)
    
student_marks

[100, 95, 75, 45, 15, 222, 111, 0, 7]

In [60]:
# using .pop(index) function
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]
student_marks.pop() # If we no define any index inside pop then it will remove last element of the list

7

In [61]:
student_marks

[100, 99, 95, 75, 45, 15, 99, 222, 111, 0]

In [62]:
student_marks.pop(2)

95

In [63]:
student_marks

[100, 99, 75, 45, 15, 99, 222, 111, 0]

In [64]:
# Using .clear() function. This will remove all ements from the list
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]
student_marks.clear() 
student_marks

[]

In [67]:
# using del
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]

del student_marks[4]
student_marks

[100, 99, 95, 75, 15, 99, 222, 111, 0, 7]

In [66]:
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]

In [65]:
# Concatenation in a list
# for adding two lists we use + operator

list1 = [1,2,3,4,5]
list2 = ["aman" , "Apple"]

list = list1 + list2
list

[1, 2, 3, 4, 5, 'aman', 'Apple']

In [68]:
# Some other features of the list
# 1. .index(element)
# this will return the index of specified element which is occuring first
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]

student_marks.index(222)

7

In [69]:
student_marks.index(99) # 99 is present twice but it will give the index which occur first.

1

In [70]:
# 2. .count()
# this will return the number of occurance of the specified element
student_marks.count(99)

2

In [71]:
student_marks.count(student_marks[1]) # both are same

2

In [75]:
# 3) .sort() this will sort element in ascending order

student_marks.sort()
student_marks

[0, 7, 15, 45, 75, 95, 99, 99, 100, 111, 222]

In [77]:
# arranging element in descending order
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]

student_marks.sort(reverse = True)
student_marks

[222, 111, 100, 99, 99, 95, 75, 45, 15, 7, 0]

In [79]:
# .reverse() this is used to reverse the list

student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]

student_marks.reverse()
student_marks

[7, 0, 111, 222, 99, 15, 45, 75, 95, 99, 100]

In [80]:
# 4) .copy() this will create a copy of list

student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]

student = student_marks.copy()
student

[100, 99, 95, 75, 45, 15, 99, 222, 111, 0, 7]

In [81]:
# method 2 of copying element
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7] 

student = student_marks[:]
student

[100, 99, 95, 75, 45, 15, 99, 222, 111, 0, 7]

In [83]:
# List Comprehension: it is a concise way to create a new list

squares = [x**2 for x in range(1,4)]
squares

[1, 4, 9]

In [84]:
student_marks = [100 , 99 , 95 , 75 , 45 , 15 , 99, 222 , 111 ,0 ,7]
squares = [marks**2 for marks in student_marks]
squares

[10000, 9801, 9025, 5625, 2025, 225, 9801, 49284, 12321, 0, 49]

In [107]:
# Maping and Transforming list

def square_num(x):
    return x**2

num = [2,5,6,7,9]
square_numbers = []

square_numbers = map(square_num , num)  # Map is built in function of python which tells to imply function on each element 

print((square_numbers))

<map object at 0x000002004052FF10>

In [103]:
#def square(x):
 #   return x**2

#numbers = [2,5,6,7,9]

#square_number = list(map(square , numbers))

In [104]:
#def square_numbers(num):
   # return num**2

#num = [2, 5, 6, 7, 9]

#square_numbers = list(map(square_numbers, num))
#print(square_numbers)

In [105]:
#Lambda Functions:
# Lambda functions are anonymous functions that can be used inline. This can be used for defining short functions

#numbers1 = [1, 2, 3]
#numbers2 = [4, 5, 6]
 
#result = map(lambda x, y: x + y, numbers1, numbers2)
#print(list(result))

In [99]:
#List Unpacking:
#List unpacking allows you to assign the elements of a list to multiple variables in a single line. 
#It is particularly useful when working with functions that return multiple values. 

list = [45,58,98]
a , b ,c  = list
print(a)

# While unpacking take care that the number of variables = no of elements in list

45